* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins, sans-serif;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    top: -60px;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;


    & img {
        width: 250px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

section {
    background-image: radial-gradient(#17ccc3, rgb(1, 49, 45));
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 100%;
                    transform: rotate(-25deg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 150%;
                    left: 50px;
                    border-radius: 50%;
                    filter: blur(50px);
                }
            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .car-information {
                    font-weight: bold;
                    margin-top: 120px;
                    /* Remove o espaço grande acima */
                    margin-bottom: 0.5px;
                }

                & h2 {
                    font-size: 6em;
                    line-height: 1em;
                    font-family: "League Gothic", sans-serif;
                    margin-top: 0;

                }

                & .description {
                    color: #d9d9d9;
                    font-size: 12px;
                    text-align: right;
                    max-width: 400px;
                    top: 50%;
                    margin-top: 20px;
                }

                & .price {
                    font-size: 4em;
                    font-weight: bold;
                    color: #fff;
                    font-family: "League Gothic", sans-serif;
                    
                   
                }

                & .buy-button {
                    font-size: 1.4em;
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #17ccc3;
                    background-color: #beff1b;
                    color: black;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: "League Gothic", sans-serif;


                }

                & .buy-button:hover {
                    background-color: #17ccc3;
                    color: white;
                    border-color: #08f0e4;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 51.3%;
            border-top: 1px solid #fff;

        }

    }

    .arrows {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);
        display: flex;
        justify-content: space-between;
        z-index: 20;

        & button:nth-child(1) {
            transform: rotate(180deg);

        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            z-index: 10;

            & img {
                width: 30px;
                margin-top: 4px;

            }

            &:hover {
                background-color: #beff1b;
            }
        }
    }

    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: "League Gothic", sans-serif;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #beff1b;
                border-radius: 5px;
                transition: 0.5s;
            }

            & .active {
                background-color: white;
            }
        }

    }



}

section {

    & .list {
        --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-img {

                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.5s;

                }

            }

            & .content {

                & .car-information,
                h2,
                .description,
                .price {

                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & .buy-button {
                    transform: translateX(calc(200px * var(--calculation)));
                    opacity: 0;
                    transition: transform 0.7s 1.1s, opacity 0.7s 1.1s;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .price {
                    transition-delay: 0.9s;
                }

                & .buy-button {
                    transition-delay: 1.1s;
                }

            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .car-img {

                & img {
                    transform: rotate(-20deg);


                }

            }

            & .content {

                & .car-information,
                h2,
                .description,
                .price,
                .buy-button {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

/* MOBILE VERSION */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        touch-action: pan-y;
    }

    header {
        top: 0;
        width: 100%;
        padding: 15px 5%;
        grid-template-columns: 1fr;
        gap: 0;
        transform: none;
        left: 0;
        
        & img {
            width: 180px;
            margin: 0 auto;
        }

        & nav {
            display: none; /* Esconde o menu em mobile */
        }
    }

    section {
        height: 100vh;
        overflow: hidden;

        & .list {
            width: 100vw;
            height: 100%;

            & .item {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & .car-img {
                    position: relative;
                    top: auto;
                    left: auto;
                    transform: none;
                    width: 80%;
                    max-width: 300px;
                    margin-top: 30px;

                    & img {
                        transform: rotate(-15deg) !important;
                        width: 100%;
                    }

                    &::before {
                        left: 0;
                        width: 80%;
                        margin: 0 auto;
                    }
                }

                & .content {
                    position: relative;
                    right: auto;
                    top: auto;
                    transform: none;
                    width: 90%;
                    height: auto;
                    align-items: center;
                    text-align: center;
                    padding: 20px 0;
                    margin-top: -30px;

                    & .car-information {
                        margin-top: 10px;
                        font-size: 0.9em;
                    }

                    & h2 {
                        font-size: 3em;
                        margin: 5px 0;
                    }

                    & .description {
                        text-align: center;
                        max-width: 90%;
                        font-size: 0.9em;
                        margin: 10px auto;
                    }

                    & .price {
                        font-size: 2em;
                        margin: 10px 0;
                    }

                    & .buy-button {
                        margin: 15px 0 30px;
                        font-size: 1.1em;
                        height: 40px;
                        width: 130px;
                    }
                }
            }

            &::before {
                top: 60%;
                width: 80%;
                left: 10%;
            }
        }

        & .arrows {
            width: 100%;
            top: auto;
            bottom: 100px;
            transform: translateX(-50%);
            padding: 0 20px;

            & button {
                width: 60px;
                height: 60px;
                background: rgba(255, 255, 255, 0.8);

                & img {
                    width: 25px;
                }
            }
        }

        & .indicators {
            top: auto;
            bottom: 30px;
            height: auto;
            width: 100%;

            & .number {
                font-size: 2em;
                margin-bottom: 10px;
            }

            & ul li {
                width: 30px;
                height: 4px;
            }
        }
    }

    /* Ajustes de transição para mobile */
    section .list .item {
        & .content {
            & .car-information,
            & h2,
            & .description,
            & .price,
            & .buy-button {
                transform: translateY(30px) !important;
                transition-delay: 0s !important;
            }
        }

        &.active {
            & .content {
                & .car-information,
                & h2,
                & .description,
                & .price,
                & .buy-button {
                    transform: translateY(0) !important;
                }
            }
        }
    }
}